{% extends "base.html" %}

{% block title %}Fan Control{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- Fan Control Heading -->
  <div class="row justify-content-center mt-4">
      <div class="col-12 text-center">
          <h2>Top Fan Control</h2>
      </div>
  </div>

  <!-- Buttons to Control Fan -->
  <div class="row justify-content-center my-4">
      <div class="col-auto">
          <form action="{{ url_for('start_fan') }}" method="post">
              <button type="submit" class="btn btn-success">Start Fan</button>
          </form>
      </div>
      <div class="col-auto">
          <form action="{{ url_for('stop_fan') }}" method="post">
              <button type="submit" class="btn btn-danger">Stop Fan</button>
          </form>
      </div>
  </div>

  <!-- Fan Speed Control Form -->
  <div class="row justify-content-center my-4">
      <div class="col-auto">
          <form action="{{ url_for('set_fan_speed') }}" method="post">
              <div class="input-group">
                  <input type="number" name="fan_speed" min="0" max="100" class="form-control" placeholder="Fan Speed (%)" required>
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-primary">Set Fan Speed</button>
                  </div>
              </div>
          </form>
      </div>
  </div>





  <div class="container-fluid">
    <!-- Fan Control Heading -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 text-center">
            <h2>Extra Fan</h2>
        </div>
    </div>

    <!-- Buttons to Control Fan -->
    <div class="row justify-content-center my-4">
        <div class="col-auto">
            <form action="{{ url_for('start_bottom_fan') }}" method="post">
                <button type="submit" class="btn btn-success">Start Bottom Fan</button>
            </form>
        </div>
        <div class="col-auto">
            <form action="{{ url_for('stop_bottom_fan') }}" method="post">
                <button type="submit" class="btn btn-danger">Stop Bottom Fan</button>
            </form>
        </div>
    </div>






</div>
{% endblock %}

{% set active_menu = 'fan_control' %}
