{% extends "base.html" %}

{% block title %}Image Gallery{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Image Gallery</h1>

    <!-- Date filter form -->
    <form method="get" action="/gallery">
        <div class="row mb-4">
            <div class="col-md-3">
                <input type="text" name="start_date" class="form-control" placeholder="Start Date: dd/mm-yyyy">
            </div>
            <div class="col-md-3">
                <input type="text" name="end_date" class="form-control" placeholder="End Date: dd/mm-yyyy">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
</div>
<style>
    .gallery img {
        background-color: #333; /* Dark background for images */
        border: 1px solid #fff;  /* Optional: White border to highlight image */
        max-width: 100%;
        height: auto;
    }

    .gallery-item {
        margin-bottom: 15px;  /* Adds some spacing between the images */
    }
</style>

<div class="container">
    <div class="row gallery">
        {% for image in images %}
        <div class="col-md-3 gallery-item"> 
            <a href="{{ url_for('slideshow', filename=image) }}"> <!-- Make image clickable -->
                <img src="{{ url_for('static', filename=image) }}" alt="Image">
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

{% set active_menu = 'gallery' %}
