{% extends "base.html" %}

{% block title %}Temperature{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Graphs -->
    <div class="row justify-content-center mt-4">
        <!-- First row: 2 graphs -->
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Temp DHT22</h3>
            {{ data_img4 | safe }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Humidity</h3>
            {{ data_img2 | safe }}
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <!-- Second row: 2 graphs -->
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Soil Temperature</h3>
            {{ data_img | safe }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
            <h3>Moisture</h3>
            {{ data_img3 | safe }}
        </div>
    </div>
    <!-- Last Reading -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 text-center">
            <h4>{{ last_reading }}</h4>  <!-- Display last reading -->
        </div>
    </div>
    <!-- Buttons to Control Devices -->
    <div class="row justify-content-center my-4">
        <div class="col-auto">
            <form action="{{ url_for('send_update') }}" method="post">
                <button type="submit" class="btn btn-primary">Request Update</button>
            </form>
        </div>
        </div>
    </div>

</div>
{% endblock %}

{% set active_menu = 'temperature' %}
